html,body {
height: 100%;
width: 100%;
background-color: #f6f5f0;
}
.gigPal_headding_h1{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size:80px;
  color: #1B262C;
  position: relative;
  top: 100px;
}
.gigPal_logo{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #1B262C;
}
.carousel_container1{
  position: relative;
  top: 25px;
}
.carousel_container2{
  position: relative;
  top: 25px;
}
.quate_h2{
  position: relative;
  top: 60px;
  font-size: 40px;
  color: #0F4C75;
  display: inline-block;
}
.answers_h2{
  position: relative;
  top: 60px;
  font-size: 40px;
  color: #0F4C75;
  display: inline-block;
}

.proplems{
font-size: 70px;
}

.answers{
  font-size: 50px;
}


.gigpal_h2{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size:90px;
  color: #1B262C;
  position: relative;
  top: 100px;
}
.btn_get_started{
  position: relative;
  top: 15px;
  left: 200px;
  display: inline-block;
  background-color: #BBE1FA;
}

.page_row{
  height: 100%;
  margin: 0px 20px 50px 20px;
}
.intro_col{
  height: 100%;
}
.design_col{
  height: 100%;
  padding: 25px 15px 25px 91px;
}

.nav_edit{
  padding-top: 15px;
}

.the_design {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}


.div1 { grid-area: 1 / 1 / 2 / 2;
  background-color: #0F4C75;
  border-radius: 0% 50% 55% 0% / 0% 50% 0% 0%;  }
.div2 { grid-area: 1 / 2 / 2 / 3;
  background-color: #3282B8;
  border-radius:0% 0% 50% 0% / 0% 50% 50% 0% ; }
.div3 { grid-area: 1 / 3 / 2 / 4;
  background-color: #1B262C;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ; }
.div4 { grid-area: 2 / 1 / 3 / 2;
  background-color: #BBE1FA;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ; }
.div5 { grid-area: 2 / 2 / 3 / 3;
  background-color: #BBE1FA;
  border-radius:0% 0% 50% 0% / 0% 50% 50% 0% }
.div6 { grid-area: 2 / 3 / 3 / 4;
  background-color: #0F4C75;
  border-radius:0% 0% 50% 50% / 0% 100% 0% 50%;  }
.div7 { grid-area: 3 / 1 / 4 / 2;
  background-color: #1B262C;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0%; }
.div8 { grid-area: 3 / 2 / 4 / 3;
  background-color: #3282B8;
  border-radius:50% 50% 50% 50% / 50% 50% 50% 50% ; }
.div9 { grid-area: 3 / 3 / 4 / 4;
  background-color: #BBE1FA;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ; }
.div10 { grid-area: 4 / 1 / 5 / 2;
  background-color: #BBE1FA;
  border-radius:100% 0% 100% 0% / 0% 100% 0% 100% ; }
.div11 { grid-area: 4 / 2 / 5 / 3;
  background-color: #0F4C75;
  border-radius:100% 0% 100% 0% / 0% 100% 0% 100%;  }
.div12 { grid-area: 4 / 3 / 5 / 4;
  background-color: #3282B8;
  border-radius:0% 50% 0% 50% / 0% 50% 0% 50% ; }

  .people_img_div4{
    max-width: 100%;
    height: 153px;
    max-height:100%;
    border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  }
  .people_img_div5{
    max-width: 100%;
    height: 153px;
    max-height:100%;
    border-radius:0% 0% 50% 0% / 0% 50% 50% 0%;
  }
  .people_img_div9{
    max-width: 100%;
    height: 153px;
    max-height:100%;
    border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  }
  .people_img_div10{
    max-width: 100%;
    height: 153px;
    max-height:100%;
    border-radius:100% 0% 100% 0% / 0% 100% 0% 100%  ;
  }
