@media screen and (max-width:480px) {
  .design_col {
    display: none;
  }
}
body {
height: 100%;
width: 100%;
background-image: url("https://c0.wallpaperflare.com/path/811/935/645/adults-analysis-brainstorming-collaboration-2dbc2313ebbbdc95ae58afc59dc38d7f.jpg");
background-repeat: no-repeat;
height: 100%;
background-position: center;
background-size: cover;
}


.gigPal_headding_h1{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size:80px;
  color: #1B262C;
  position: relative;
  top: 100px;
}
.gigPal_logo{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #1B262C;
  --bs-navbar-brand-font-size: 1.8rem;
}
.carousel_container1{

}
.carousel_container2{

}
.quate_h2{
  position: relative;
  top: 60px;
  font-size: 40px;
  color: #fff;
  display: inline-block;
  text-shadow: 6px 3px 5px rgb(0 0 0 / 85%);
}
.answers_h2{
  position: relative;
  top: 60px;
  font-size: 40px;
  color: #0F4C75;
  display: inline-block;
  margin-top: 0;

}

.proplems{
font-size: 70px;
}

.answers{
  font-size: 50px;
}


.gigpal_h2{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size:90px;
  color: #1B262C;
  position: relative;
  text-shadow: 6px 3px 5px rgba(0, 152, 255, 0.85);
  margin-top: 50px;
}
.btn_get_started{
}

.page_row{
  height: 100%;
  margin: 0px 20px 50px 20px;
}
.intro_col{
  height: 100%;
}
.design_col{
  height: 100%;
  width: 100%;
  padding: 25px 0px 25px 0px;
}

.nav_edit{
  padding-top: 15px;
}

.the_design {

}
.columns_design{
  padding-left:0;
  padding-right:0
}


.div1 {
  background-color: #0F4C75;
  border-radius: 0% 50% 55% 0% / 0% 50% 0% 0%;
  height: 200px;

}
.div2 {
  background-color: #3282B8;
  border-radius:0% 0% 50% 0% / 0% 50% 50% 0% ;
  height: 200px;
}
.div3 {
  background-color: #1B262C;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  height: 200px;
   }
.div4 {
  background-color: #BBE1FA;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  height: 200px;
  }
.div5 {
  background-color: #BBE1FA;
  border-radius:0% 0% 50% 0% / 0% 50% 50% 0%;
  height: 200px;
  }
.div6 {
  background-color: #0F4C75;
  border-radius:0% 0% 50% 50% / 0% 100% 0% 50%;
  height: 200px;
  }
.div7 {
  background-color: #1B262C;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0%;
  height: 200px;
   }
.div8 {
  background-color: #3282B8;
  border-radius:50% 50% 50% 50% / 50% 50% 50% 50% ;
  height: 200px;
  }
.div9 {
  background-color: #BBE1FA;
  border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  height: 200px;
  }
.div10 {
  background-color: #BBE1FA;
  border-radius:100% 0% 100% 0% / 0% 100% 0% 100% ;
  height: 200px;
  }
.div11 {
  background-color: #0F4C75;
  border-radius:100% 0% 100% 0% / 0% 100% 0% 100%;
  height: 200px;
  }
.div12 {
  background-color: #3282B8;
  border-radius:0% 50% 0% 50% / 0% 50% 0% 50% ;
  height: 200px;
  }

  .people_img_div4{
    max-width: 100%;
    max-height:100%;
    border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  }
  .people_img_div5{
    max-width: 100%;
    max-height:100%;
    border-radius:0% 0% 50% 0% / 0% 50% 50% 0%;
  }
  .people_img_div9{
    max-width: 100%;
    max-height:100%;
    border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  }
  .people_img_div10{
    max-width: 100%;
    max-height:100%;
    border-radius:50% 0% 50% 0% / 50% 100% 0% 0% ;
  }
  .custom-shape-divider-top-1670530548 {
    padding-left: 0;
    padding-right: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  .custom-shape-divider-top-1670530548 svg {
      position:fixed;
      display: block;
      width: calc(125% + 1.3px);
      height: 178px;
      transform: rotateY(180deg);
  }

  .custom-shape-divider-top-1670530548 .shape-fill {
      fill: #FFFFFF;
  }
